@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 차트 아웃라인 제거 */
.recharts-wrapper:focus,
.recharts-wrapper *:focus,
.recharts-surface:focus {
  outline: none !important;
}
.recharts-wrapper,
.recharts-wrapper * {
  -webkit-tap-highlight-color: transparent;
}

.recharts-cartesian-grid-vertical line:hover {
  stroke: #3b82f6 !important; /* 원하는 색상 */
  stroke-width: 2; /* 두께도 바꿀 수 있음 */
}
